## PANDAS

In [ ]:
Esta libreria sirve para almacenar de manera tomatricial datos que van a ser de diferente tipo.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Introducción a las series de datos

una serie de datos es un tipo de objeto que nos proporciona pandas

In [9]:
Estudiantes=pd.Series([16,12,17], index=['Pepito','Maria','Ana'])
Estudiantes

Pepito    16
Maria     12
Ana       17
dtype: int64

In [10]:
Estudiantes['Ana']

np.int64(17)

In [11]:
Estudiantes['Pepito']

np.int64(16)

In [12]:
Estudiantes[1]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11744\4221754821.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Estudiantes[1]

np.int64(12)

In [13]:
Estudiantes.index

Index(['Pepito', 'Maria', 'Ana'], dtype='object')

In [14]:
Estudiantes.values

array([16, 12, 17])

In [15]:
Estudiantes.shape

(3,)

## Introducción a los DataFrame

Son series unidas, que generan diccionarios 

Como buena practica los dataframe se imprimen con display(nomDataFrame)

In [16]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
Estudiantes

        Estudiantes Escolaridad
Pepito           16           S
Maria            12           S
Ana              17           U

In [17]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
Estudiantes
print('Hola')   ## en este caso no se muestra el dataframe

Hola

In [18]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
display(Estudiantes)  ## con el display si se muestra el dataframe
print('Hola')

        Estudiantes Escolaridad
Pepito           16           S
Maria            12           S
Ana              17           U

Hola

## Funciones de DataFrame

In [19]:
Estudiantes.dtypes

Estudiantes     int64
Escolaridad    object
dtype: object

In [20]:
Estudiantes.index

Index(['Pepito', 'Maria', 'Ana'], dtype='object')

In [22]:
Estudiantes.axes

[Index(['Pepito', 'Maria', 'Ana'], dtype='object'),
 Index(['Estudiantes', 'Escolaridad'], dtype='object')]

In [23]:
Estudiantes.columns

Index(['Estudiantes', 'Escolaridad'], dtype='object')

In [24]:
Estudiantes.values

array([[16, 'S'],
       [12, 'S'],
       [17, 'U']], dtype=object)