## PANDAS

In [ ]:
Esta libreria sirve para almacenar de manera tomatricial datos que van a ser de diferente tipo.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

## Introducción a las series de datos

una serie de datos es un tipo de objeto que nos proporciona pandas

In [9]:
Estudiantes=pd.Series([16,12,17], index=['Pepito','Maria','Ana'])
Estudiantes

Pepito    16
Maria     12
Ana       17
dtype: int64

In [10]:
Estudiantes['Ana']

np.int64(17)

In [11]:
Estudiantes['Pepito']

np.int64(16)

In [12]:
Estudiantes[1]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11744\4221754821.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Estudiantes[1]

np.int64(12)

In [13]:
Estudiantes.index

Index(['Pepito', 'Maria', 'Ana'], dtype='object')

In [14]:
Estudiantes.values

array([16, 12, 17])

In [15]:
Estudiantes.shape

(3,)

## Introducción a los DataFrame

Son series unidas, que generan diccionarios 

Como buena practica los dataframe se imprimen con display(nomDataFrame)

In [16]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
Estudiantes

        Estudiantes Escolaridad
Pepito           16           S
Maria            12           S
Ana              17           U

In [17]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
Estudiantes
print('Hola')   ## en este caso no se muestra el dataframe

Hola

In [18]:
Estudiantes=pd.DataFrame({'Estudiantes':[16,12,17], 'Escolaridad':['S','S','U']}, index=['Pepito','Maria','Ana'])
display(Estudiantes)  ## con el display si se muestra el dataframe
print('Hola')

        Estudiantes Escolaridad
Pepito           16           S
Maria            12           S
Ana              17           U

Hola

## Funciones de DataFrame

In [19]:
Estudiantes.dtypes

Estudiantes     int64
Escolaridad    object
dtype: object

In [20]:
Estudiantes.index

Index(['Pepito', 'Maria', 'Ana'], dtype='object')

In [22]:
Estudiantes.axes

[Index(['Pepito', 'Maria', 'Ana'], dtype='object'),
 Index(['Estudiantes', 'Escolaridad'], dtype='object')]

In [23]:
Estudiantes.columns

Index(['Estudiantes', 'Escolaridad'], dtype='object')

In [24]:
Estudiantes.values

array([[16, 'S'],
       [12, 'S'],
       [17, 'U']], dtype=object)

# Creación de Series y DataFrames

## Series

In [3]:
Estudiantes={'Felipe':14,'Diana':15}
pd.Series(Estudiantes,index=['Felipe','Diana','Alejo'])

Felipe    14.0
Diana     15.0
Alejo      NaN
dtype: float64

In [4]:
pd.Series(8,index=['a','b','c'])

a    8
b    8
c    8
dtype: int64

## DataFrames

Se pueden crear a partir de arrays

In [5]:
A=np.array([[1,2],[4,6]])
print(A)

[[1 2]
 [4 6]]

In [7]:
A=np.array([[1,2],[4,6]])
pd.DataFrame(A, index=['a','b'], columns=['col1','col2'])

   col1  col2
a     1     2
b     4     6

# Impotando Datos de un Archivo

Por ejemplo podemos importar archivos almacenados, de diferentes tipos como xlsx (excel y planos)

In [10]:
df1=pd.read_excel('ejemplo.xlsx')
df1
## Entre los parentesis va el nombre del archivo que se va a importar

       Mes  Ingreso  Gasto
0    Enero      200     50
1  Febrero      300     40
2    Marzo      150     90

In [17]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2
## Entre los parentesis va el nombre del archivo que se va a importar

           ID , Nombre completo,Fecha de nacimiento
0              C0001 , Leandra Anna Malo Alba,31024
1             C0002 , Severo Granados Iglesia,31636
2                   C0003 , Lucho Andreu Amat,32979
3    C0004 , Matías Mauricio Castillo Barrera,35401
4          C0005 , Mauricio Guijarro Castelló,30816
..                                              ...
196             C0197 , Sandalio Baeza Grande,34994
197        C0198 , Gregorio Guerrero Palomino,30728
198               C0199 , Socorro de Higueras,28005
199               C0200 , Otilia Viana Torres,36027
200                C0201 , Luís Guzman Alsina,26381

[201 rows x 1 columns]

In [18]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.head()
## Muestra las primeras 5 filas

         ID , Nombre completo,Fecha de nacimiento
0            C0001 , Leandra Anna Malo Alba,31024
1           C0002 , Severo Granados Iglesia,31636
2                 C0003 , Lucho Andreu Amat,32979
3  C0004 , Matías Mauricio Castillo Barrera,35401
4        C0005 , Mauricio Guijarro Castelló,30816

In [19]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.tail()
## Muestra las últimas 5 filas

     ID , Nombre completo,Fecha de nacimiento
196       C0197 , Sandalio Baeza Grande,34994
197  C0198 , Gregorio Guerrero Palomino,30728
198         C0199 , Socorro de Higueras,28005
199         C0200 , Otilia Viana Torres,36027
200          C0201 , Luís Guzman Alsina,26381

In [21]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
display(df2.tail())
df2.shape
## Muestra que son 201 filas y 1 columna

     ID , Nombre completo,Fecha de nacimiento
196       C0197 , Sandalio Baeza Grande,34994
197  C0198 , Gregorio Guerrero Palomino,30728
198         C0199 , Socorro de Higueras,28005
199         C0200 , Otilia Viana Torres,36027
200          C0201 , Luís Guzman Alsina,26381

(201, 1)

In [41]:
df2=pd.read_csv('listaClientes.csv', encoding='latin-1')
df2.tail()
## Muestra las últimas 5 filas

     ID, Nombre completo, Fecha de nacimiento
196       C0197, Sandalio Baeza Grande, 34994
197  C0198, Gregorio Guerrero Palomino, 30728
198         C0199, Socorro de Higueras, 28005
199         C0200, Otilia Viana Torres, 36027
200          C0201, Luís Guzman Alsina, 26381

In [45]:
df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=", ")
df2.tail()
## Muestra las últimas 5 filas

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9936\3370614157.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=", ")

        "ID             Nombre completo Fecha de nacimiento"
196  "C0197       Sandalio Baeza Grande               34994"
197  "C0198  Gregorio Guerrero Palomino               30728"
198  "C0199         Socorro de Higueras               28005"
199  "C0200         Otilia Viana Torres               36027"
200  "C0201          Luís Guzman Alsina               26381"

In [53]:
df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=', ')
df2.tail()
## Muestra las últimas 5 filas

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9936\3429569494.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=', ')

        "ID             Nombre completo Fecha de nacimiento"
196  "C0197       Sandalio Baeza Grande               34994"
197  "C0198  Gregorio Guerrero Palomino               30728"
198  "C0199         Socorro de Higueras               28005"
199  "C0200         Otilia Viana Torres               36027"
200  "C0201          Luís Guzman Alsina               26381"

In [55]:
df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=", ")
df2.tail()
df2.shape
## Muestra las últimas 5 filas

C:\Users\Usuario\AppData\Local\Temp\ipykernel_9936\2831050729.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv('listaClientes.csv', encoding='latin-1', sep=", ")

(201, 3)

## Inspeccionando un DataFrame

In [56]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.head(3)
## Muestra las primeras 5 filas

  ID , Nombre completo,Fecha de nacimiento
0     C0001 , Leandra Anna Malo Alba,31024
1    C0002 , Severo Granados Iglesia,31636
2          C0003 , Lucho Andreu Amat,32979

In [57]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.sample()
## Muestra las primeras 5 filas

           ID , Nombre completo,Fecha de nacimiento
110  C0111 , Samanta Casandra Borrell Maestre,25591

In [58]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.sample(6)
## Muestra las primeras 5 filas

    ID , Nombre completo,Fecha de nacimiento
140      C0141 , Óscar Dominguez Mayol,27018
103        C0104 , Ruben Marquez Belda,29851
123               C0124 , Marcia Tomas,35017
191     C0192 , Trinidad Salas Gimenez,27517
195  C0196 , Emelina Melisa Palau Seco,35916
93       C0094 , Primitivo Jaén Garcés,34743

In [59]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.describe()
## Muestra las primeras 5 filas

       ID , Nombre completo,Fecha de nacimiento
count                                       201
unique                                      201
top        C0001 , Leandra Anna Malo Alba,31024
freq                                          1

In [60]:
df2=pd.read_csv('ejemploII.csv', encoding='latin-1')
df2.info()
## Muestra la información del dataframe con el que estamos trabajando

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 1 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ID , Nombre completo,Fecha de nacimiento  201 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

## Accediendo a Datos

In [73]:
df3=pd.read_csv('ejemploII.csv', encoding='latin-1', sep="/")
##df3.set_index('ID ')
display(df3.head())## Muestra el ID como indices

      ID                    Nombre completo  Fecha de nacimiento
0  C0001             Leandra Anna Malo Alba                31024
1  C0002            Severo Granados Iglesia                31636
2  C0003                  Lucho Andreu Amat                32979
3  C0004  MatÃ­as Mauricio Castillo Barrera                35401
4  C0005        Mauricio Guijarro CastellÃ³                30816

In [3]:
df3=pd.read_csv('ejemploII.csv', encoding='latin-1', sep="/")
df3.set_index('ID', inplace=True)
display(df3.head())## Muestra el ID como indices y ojo con el INPLACE= TRUE

                         Nombre completo  Fecha de nacimiento
ID
C0001             Leandra Anna Malo Alba                31024
C0002            Severo Granados Iglesia                31636
C0003                  Lucho Andreu Amat                32979
C0004  MatÃ­as Mauricio Castillo Barrera                35401
C0005        Mauricio Guijarro CastellÃ³                30816

In [78]:
df3['Nombre completo'].head(20)
##Nos sirve para delimitar un dato dentro del dataFrame

ID
C0001               Leandra Anna Malo Alba
C0002              Severo Granados Iglesia
C0003                    Lucho Andreu Amat
C0004    MatÃ­as Mauricio Castillo Barrera
C0005          Mauricio Guijarro CastellÃ³
C0006          Isaura Leyre AvilÃ©s Pelayo
C0007                   Soraya Morera-Lago
C0008          Victoriano Tapia-Cabanillas
C0009                    Nidia Saez Campoy
C0010           TeÃ³fila Villanueva Molina
C0011                     Trini de Alberdi
C0012                           Dani Baena
C0013                  Angelina de Arregui
C0014                   Samuel de Carranza
C0015           Jacinta Montenegro GarcÃ©s
C0016               Lisandro Delgado Nadal
C0017                Samanta ManjÃ³n Godoy
C0018         Albano Teodosio CaÃ±ete Rosa
C0019                      Abel Villanueva
C0020             Bienvenida Pulido CÃ³zar
Name: Nombre completo, dtype: object

In [80]:
df3['Fecha de nacimiento'].head(20)
##Nos sirve para delimitar un dato dentro del dataFrame

ID
C0001    31024
C0002    31636
C0003    32979
C0004    35401
C0005    30816
C0006    31885
C0007    33204
C0008    29651
C0009    29339
C0010    31781
C0011    33211
C0012    28418
C0013    36577
C0014    36296
C0015    34406
C0016    29329
C0017    29283
C0018    29680
C0019    32306
C0020    34355
Name: Fecha de nacimiento, dtype: int64

In [81]:
df3.loc['C0001']
## Es para traer una fila en particular

Nombre completo        Leandra Anna Malo Alba
Fecha de nacimiento                     31024
Name: C0001, dtype: object

In [82]:
df3.iloc[34]
## Es para traer una fila en particular por su número

Nombre completo        Natalio Pereira Barrio
Fecha de nacimiento                     25830
Name: C0035, dtype: object

## Rangosy filtrado de datos

In [5]:
df3.iloc[1:4]
## muestras las filas de la 1 a la 4

                         Nombre completo  Fecha de nacimiento
ID
C0002            Severo Granados Iglesia                31636
C0003                  Lucho Andreu Amat                32979
C0004  MatÃ­as Mauricio Castillo Barrera                35401

In [6]:
df3.iloc[27:]
## muestras las filas de la 27 hasta elfinal

                  Nombre completo  Fecha de nacimiento
ID
C0028        Evangelina Font Lago                28575
C0029     Otilia Mercader Jimenez                31584
C0030           Nadia Reyes-Bosch                35503
C0031          Mireia CÃ³rdoba Pi                34263
C0032         Melisa Rueda Rosado                25839
...                           ...                  ...
C0197       Sandalio Baeza Grande                34994
C0198  Gregorio Guerrero Palomino                30728
C0199         Socorro de Higueras                28005
C0200         Otilia Viana Torres                36027
C0201         LuÃ­s Guzman Alsina                26381

[174 rows x 2 columns]

In [10]:
df3[df3['Fecha de nacimiento']>36000]
## se obtuvieron los datos de fecha de nacimiento mayor a 36000

                     Nombre completo  Fecha de nacimiento
ID
C0013            Angelina de Arregui                36577
C0014             Samuel de Carranza                36296
C0040          Eutimio Barreda Cobos                36289
C0046                   Ovidio Lamas                36594
C0052      Narcisa Villaverde Montes                36116
C0060               Ãfrica Morcillo                36212
C0073            Elvira del Espinosa                36628
C0110  Jose Francisco Alvarado Pombo                36328
C0127              Maristela MÃ¡rmol                36448
C0128         Leticia Azorin Cortina                36425
C0140                 Jesusa Fuentes                36166
C0161         Javier Arellano-Murcia                36252
C0165         Carla Serna MontalbÃ¡n                36285
C0167      Jacinta Paz Domingo Rivas                36188
C0184              Narciso del Anaya                36088
C0200            Otilia Viana Torres                36027

In [17]:
df4=pd.read_csv('DepreEstudiantes.csv',  sep=",")
##df3.set_index('ID ')
display(df4.head())## Muestra el ID como indices

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

In [18]:
df4.iloc[25:50]
#muestra la fila 25 a 50

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
25,Male,31,2.0,2.0,7-8 hours,Healthy,No,2,4,Yes,No
26,Male,30,3.0,4.0,7-8 hours,Moderate,Yes,0,2,Yes,No
27,Male,21,5.0,3.0,7-8 hours,Unhealthy,No,6,4,Yes,Yes
28,Female,29,3.0,5.0,Less than 5 hours,Moderate,Yes,4,3,Yes,Yes
29,Female,34,3.0,4.0,Less than 5 hours,Unhealthy,Yes,12,1,Yes,Yes
30,Female,20,3.0,2.0,More than 8 hours,Healthy,No,2,2,No,No
31,Female,33,2.0,5.0,Less than 5 hours,Moderate,Yes,3,3,Yes,No
32,Male,32,5.0,2.0,5-6 hours,Moderate,Yes,12,3,No,Yes
33,Female,21,5.0,3.0,7-8 hours,Moderate,No,9,2,No,Yes
34,Male,26,5.0,1.0,Less than 5 hours,Unhealthy,Yes,10,5,No,Yes
35,Male,26,5.0,4.0,7-8 hours,Unhealthy,No,3,2,Yes,No
36,Female,22,1.0,1.0,Less than 5 hours,Healthy,No,2,2,No,No
37,Male,26,4.0,5.0,Less than 5 hours,Unhealthy,No,4,1,Yes,No
38,Male,25,1.0,3.0,7-8 hours,Unhealthy,No,8,1,Yes,No
39,Female,21,3.0,3.0,7-8 hours,Moderate,Yes,8,5,Yes,Yes
40,Male,29,1.0,1.0,7-8 hours,Healthy,No,6,1,Yes,No
41,Male,22,1.0,3.0,7-8 hours,Unhealthy,No,6,4,No,No
42,Male,21,3.0,2.0,7-8 hours,Unhealthy,Yes,1,5,No,Yes
43,Male,31,5.0,4.0,5-6 hours,Healthy,No,12,3,No,No
44,Female,24,1.0,3.0,5-6 hours,Moderate,No,3,5,No,No
45,Male,20,3.0,5.0,More than 8 hours,Unhealthy,No,11,4,No,No
46,Female,31,1.0,3.0,7-8 hours,Healthy,No,12,3,Yes,No
47,Male,21,1.0,5.0,5-6 hours,Unhealthy,Yes,1,1,No,No
48,Male,24,2.0,4.0,5-6 hours,Healthy,No,12,4,Yes,No
49,Male,34,3.0,4.0,7-8 hours,Healthy,No,8,3,No,No

In [19]:
df4.iloc[50:]

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
50,Female,25,5.0,4.0,Less than 5 hours,Healthy,No,7,1,No,No
51,Male,27,2.0,5.0,5-6 hours,Healthy,Yes,10,3,No,No
52,Female,32,2.0,4.0,5-6 hours,Moderate,No,10,1,Yes,No
53,Male,26,4.0,4.0,5-6 hours,Unhealthy,No,9,1,Yes,No
54,Male,23,2.0,5.0,Less than 5 hours,Unhealthy,No,8,5,No,No
...,...,...,...,...,...,...,...,...,...,...,...
497,Male,26,5.0,2.0,More than 8 hours,Unhealthy,No,8,3,No,Yes
498,Male,24,2.0,1.0,Less than 5 hours,Unhealthy,Yes,8,5,No,Yes
499,Female,23,3.0,5.0,5-6 hours,Healthy,No,1,5,Yes,No
500,Male,33,4.0,4.0,More than 8 hours,Healthy,No,8,1,Yes,No
501,Male,18,5.0,3.0,More than 8 hours,Unhealthy,No,6,2,Yes,Yes

In [21]:
df4.shape
#para mostrar forma (cantidad de filas y columnas)

(502, 11)

In [28]:
df4[df4['Age']>20]
## Para ver la edad

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
496,Male,29,3.0,1.0,7-8 hours,Unhealthy,Yes,9,3,Yes,Yes
497,Male,26,5.0,2.0,More than 8 hours,Unhealthy,No,8,3,No,Yes
498,Male,24,2.0,1.0,Less than 5 hours,Unhealthy,Yes,8,5,No,Yes
499,Female,23,3.0,5.0,5-6 hours,Healthy,No,1,5,Yes,No
500,Male,33,4.0,4.0,More than 8 hours,Healthy,No,8,1,Yes,No

In [34]:
df4[(df4['Age']>20) & (df4['Study Hours']>7)]
## Para ver la edad y horas de estudio 
## Por favor no se te olviden los parentesis como en numpy

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
8,Female,33,1.0,4.0,More than 8 hours,Moderate,No,10,3,No,No
9,Male,33,4.0,3.0,Less than 5 hours,Unhealthy,Yes,10,1,No,Yes
11,Male,24,2.0,1.0,7-8 hours,Unhealthy,Yes,11,5,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...
494,Male,34,4.0,1.0,7-8 hours,Unhealthy,Yes,11,5,No,Yes
496,Male,29,3.0,1.0,7-8 hours,Unhealthy,Yes,9,3,Yes,Yes
497,Male,26,5.0,2.0,More than 8 hours,Unhealthy,No,8,3,No,Yes
498,Male,24,2.0,1.0,Less than 5 hours,Unhealthy,Yes,8,5,No,Yes
500,Male,33,4.0,4.0,More than 8 hours,Healthy,No,8,1,Yes,No

In [35]:
df4[(df4['Age']>20) & (df4['Study Hours']>7) & (df4['Financial Stress']<4)]
## Para ver la edad , horas de estudio y stress financiero
## Por favor no se te olviden los parentesis como en numpy

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
8,Female,33,1.0,4.0,More than 8 hours,Moderate,No,10,3,No,No
9,Male,33,4.0,3.0,Less than 5 hours,Unhealthy,Yes,10,1,No,Yes
13,Male,25,1.0,1.0,5-6 hours,Moderate,Yes,12,3,Yes,Yes
15,Male,28,5.0,3.0,5-6 hours,Healthy,Yes,8,3,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...
492,Female,27,2.0,3.0,5-6 hours,Unhealthy,No,11,2,Yes,No
493,Female,21,5.0,1.0,5-6 hours,Moderate,No,12,3,No,Yes
496,Male,29,3.0,1.0,7-8 hours,Unhealthy,Yes,9,3,Yes,Yes
497,Male,26,5.0,2.0,More than 8 hours,Unhealthy,No,8,3,No,Yes
500,Male,33,4.0,4.0,More than 8 hours,Healthy,No,8,1,Yes,No

In [36]:
df4[(df4['Age']>20) & (df4['Study Hours']>7) & (df4['Financial Stress']<4) & (df4['Depression']=='No')]
## Para ver la edad , horas de estudio y stress financiero
## Por favor no se te olviden los parentesis como en numpy

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
8,Female,33,1.0,4.0,More than 8 hours,Moderate,No,10,3,No,No
22,Male,31,2.0,4.0,More than 8 hours,Unhealthy,No,10,1,No,No
38,Male,25,1.0,3.0,7-8 hours,Unhealthy,No,8,1,Yes,No
43,Male,31,5.0,4.0,5-6 hours,Healthy,No,12,3,No,No
...,...,...,...,...,...,...,...,...,...,...,...
457,Female,29,2.0,4.0,Less than 5 hours,Unhealthy,No,11,2,Yes,No
465,Male,21,1.0,5.0,5-6 hours,Healthy,Yes,10,2,Yes,No
489,Male,25,1.0,1.0,More than 8 hours,Healthy,No,9,2,No,No
492,Female,27,2.0,3.0,5-6 hours,Unhealthy,No,11,2,Yes,No
500,Male,33,4.0,4.0,More than 8 hours,Healthy,No,8,1,Yes,No

# PREPARACIÓN DE LOS DATOS PARA PODER TRABAJAR CON ELLOS