# REGEX (Re Regular Expression)

## Introducción a las Expresiones Regulares 
Son patrones que sirver para encontrar una cadena de texto en una texto determinado

In [69]:
import re
import pandas as pd

In [1]:
Texto='''Juan Diego Gomez 3213213 rojo azul verde juan@mail.com 
Juan Camilo Perez 4341234 azul azul verde camilo@mail.com
Ana Maria Avila 233123123 verde verde verde ana@mail.com'''

In [3]:
re.search('azul',Texto)

In [5]:
re.search('verde',Texto)

In [6]:
if re.search('morado',Texto):
    print('Palabra encontrada')
else:
    print('No se encontro la palabra')

No se encontro la palabra

In [7]:
if re.search('azul',Texto):
    print('Palabra encontrada')
else:
    print('No se encontro la palabra')

Palabra encontrada

In [8]:
re.findall('azul',Texto)  ## busca todas las palabras contenidas en el texto

['azul', 'azul', 'azul']

In [9]:
re.findall('Juan', Texto)

['Juan', 'Juan']

In [10]:
re.findall('Juan', Texto, re.I) ## minusculas y mayusculas, conocido como flap o bandera

['Juan', 'juan', 'Juan']

## Limites
Nos permiten identificar las caracteristicas de un texto, en cuanto a limites


\b - Limite de Palabra

\B - No es un limite de palabra

^  - Inicio de una cadena de texto

$ -  Final de una cadena de texto

In [11]:
re.findall('^Juan', Texto)  ## python no reconoce los saltos de linea

['Juan']

In [12]:
re.findall('^Juan', Texto,re.M) ## Busca en cada linea

['Juan', 'Juan']

In [13]:
re.findall('com$', Texto)

['com']

In [14]:
re.findall('com$', Texto, re.M)

['com', 'com']

In [15]:
re.findall('3',Texto)

['3', '3', '3', '3', '3', '3', '3', '3', '3']

In [16]:
re.findall('\b3',Texto)

[]

In [17]:
re.findall(r'\b3',Texto)

['3']

In [18]:
re.findall(r'3\b',Texto)

['3', '3']

## Coincidencias Basicas

. - Cualquier caracter, excepto nueva línea

\d - Cualquier digitos (0-9)

\D - No es un digito de (0-9)

\w - Caracter de plabra (a-z, A-Z, 0-9, _)

\W - No es un caracter de palabra

\s - Espacios de cualquier tipo(espacio, tab, nueva linea)

\S - No es un espacio, tabulador o nueva línea

## Cuantificadores

* - 0 o Más
 
+ - 1 o Más

? - 0 o Más

{3}- Número Exacto

{3,4} - Rango de Números (Minimo, Maximo)

In [20]:
Texto2= '''Beto M1235 M
Ana U1246 S 
Jaime M432 S
Maria U324 M'''

In [21]:
re.findall(r'\w',Texto2) ##Busco todas las letras

['B',
 'e',
 't',
 'o',
 'M',
 '1',
 '2',
 '3',
 '5',
 'M',
 'A',
 'n',
 'a',
 'U',
 '1',
 '2',
 '4',
 '6',
 'S',
 'J',
 'a',
 'i',
 'm',
 'e',
 'M',
 '4',
 '3',
 '2',
 'S',
 'M',
 'a',
 'r',
 'i',
 'a',
 'U',
 '3',
 '2',
 '4',
 'M']

In [22]:
re.findall(r'\w+',Texto2) ##Busco todas las palabras pues suma todos caracteres que siguen

['Beto',
 'M1235',
 'M',
 'Ana',
 'U1246',
 'S',
 'Jaime',
 'M432',
 'S',
 'Maria',
 'U324',
 'M']

In [23]:
re.findall(r'M\d+',Texto2) ##Busco todas lo que comienza por M mas un digito

['M1235', 'M432']

In [24]:
re.findall(r'M\d{3}',Texto2)#Busco todas lo que comienza por M mas 3 digitos al final

['M123', 'M432']

In [25]:
re.findall(r'M\d{4}',Texto2)#Busco todas lo que comienza por M mas 4 digitos al final

['M1235']

In [28]:
re.findall(r'\w+@mail.com',Texto)

['juan@mail.com', 'camilo@mail.com', 'ana@mail.com']

## Conjunto de Caracteres

[] - Caracteres dentro de los brackets

[^] - Caracteres que no estan dentro de los brackets

## Grupos 

() - Grupo  Buscan patrones pero por bloques

| - Uno u oto

In [31]:
Texto3='''ruta12: http://pagina.com
ruta15:http://ejemplo.com 
ruta22:http://www.pagina.com
ruta38:https://www.ejemplo.com'''

In [34]:
re.findall(r'ruta[1-3]{2}',Texto3)

['ruta12', 'ruta22']

In [35]:
re.findall(r'ruta[2-9]{2}',Texto3)

['ruta22', 'ruta38']

In [36]:
re.findall(r'ruta[2-9]+',Texto3)

['ruta22', 'ruta38']

In [38]:
re.findall(r'(https://)',Texto3)

['https://']

In [40]:
re.findall(r'(https://|http://)',Texto3)

['http://', 'http://', 'http://', 'https://']

In [41]:
re.findall(r'(https://|http://)(w{3})',Texto3)

[('http://', 'www'), ('https://', 'www')]

In [46]:
paginas=re.findall(r'(https://|http://)?(w{3}.?)?(\w+.com)',Texto3)  ## el signo de pregunta significa que es opcional

In [50]:
paginas=[''.join(pagina) for pagina in paginas]
print(paginas)

['http://pagina.com', 'http://ejemplo.com', 'http://www.pagina.com', 'https://www.ejemplo.com']

In [52]:
paginas=re.findall(r'(https?://)(w{3}.?)?(\w+.com)',Texto3)  ## el signo de pregunta significa que es opcional
print(paginas)

[('http://', '', 'pagina.com'), ('http://', '', 'ejemplo.com'), ('http://', 'www.', 'pagina.com'), ('https://', 'www.', 'ejemplo.com')]

## Importar un archivo de Texto

In [64]:
doc=open('regex.txt', 'r' )
texto=doc.read()
doc.close()

In [65]:
print(texto)

Un nuevo rostro en el poder sirio

Abu Mohammed Al-Julani, anteriormente asociado con el extremismo yihadista de Al Qaeda, ha evolucionado hacia un lÃ­der con
creciente reconocimiento internacional. Al frente de Hayat Tahrir al Sham (HTS) o EjÃ©rcito para la LiberaciÃ³n del Levante,
 Al-Julani se ha posicionado como el principal lÃ­der del grupo armado de oposiciÃ³n en Siria. Transformando su imagen, ha
 participado en entrevistas con destacados medios internacionales, consolidÃ¡ndose como una figura central en el movimiento
 rebelde que desafÃ­a al rÃ©gimen de Bachar el Assad.

In [56]:
re.findall(r'Al-Julani',texto)

['Al-Julani', 'Al-Julani']

In [57]:
re.findall(r'Sham',texto)

['Sham']

In [67]:
re.findall(r'Mohammed',texto,re.I)

['Mohammed']

## Regex y Pandas, Filtrado de datos

In [71]:
dfreg=pd.DataFrame({
    'nombre':['Pepito Gonzalez','Maria Vasquez','Rosa Gomez','Pepito Chavez'],
    'codigo':['co_123','pe_312','mx_546','mx_765'],
    'Abb':[11,34,12,43],
    'Cdd':[12,54,67,32],
   })
dfreg=dfreg.set_index('codigo')
display(dfreg)

                 nombre  Abb  Cdd
codigo
co_123  Pepito Gonzalez   11   12
pe_312    Maria Vasquez   34   54
mx_546       Rosa Gomez   12   67
mx_765    Pepito Chavez   43   32

In [72]:
dfreg.filter(items=['Abb','Cdd']) ## filter comprueba que ese nommbre exista

        Abb  Cdd
codigo
co_123   11   12
pe_312   34   54
mx_546   12   67
mx_765   43   32

In [73]:
dfreg.filter(like='pe')

Empty DataFrame
Columns: []
Index: [co_123, pe_312, mx_546, mx_765]

In [74]:
dfreg.filter(like='12')

Empty DataFrame
Columns: []
Index: [co_123, pe_312, mx_546, mx_765]

In [75]:
dfreg.filter(like='99') ## no aparece nada

Empty DataFrame
Columns: []
Index: [co_123, pe_312, mx_546, mx_765]

In [76]:
dfreg.filter(like='99',axis=0)

Empty DataFrame
Columns: [nombre, Abb, Cdd]
Index: []

In [77]:
dfreg.filter(like='12',axis=0) ##para filtrar verdaderamente

                 nombre  Abb  Cdd
codigo
co_123  Pepito Gonzalez   11   12
pe_312    Maria Vasquez   34   54

In [78]:
dfreg.filter(regex='co',axis=0)

                 nombre  Abb  Cdd
codigo
co_123  Pepito Gonzalez   11   12

In [79]:
dfreg.filter(regex='\w{2}_[1-3]{3}',axis=0)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Usuario\AppData\Local\Temp\ipykernel_21044\1762484071.py:1: SyntaxWarning: invalid escape sequence '\w'
  dfreg.filter(regex='\w{2}_[1-3]{3}',axis=0)

                 nombre  Abb  Cdd
codigo
co_123  Pepito Gonzalez   11   12
pe_312    Maria Vasquez   34   54

In [80]:
dfreg.filter(regex='\w{2}_[4-9]{3}',axis=0)

<>:1: SyntaxWarning: invalid escape sequence '\w'
<>:1: SyntaxWarning: invalid escape sequence '\w'
C:\Users\Usuario\AppData\Local\Temp\ipykernel_21044\3995085557.py:1: SyntaxWarning: invalid escape sequence '\w'
  dfreg.filter(regex='\w{2}_[4-9]{3}',axis=0)

               nombre  Abb  Cdd
codigo
mx_546     Rosa Gomez   12   67
mx_765  Pepito Chavez   43   32